#notesContainer,
.officersContainer, 
.criminalsContainer {
    flex: 4;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 1em;
}

.note-card,
.card-officer,
.card-criminal {
	background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 15em;
  	transition: 0.3s;
	margin: 1em;
	padding: 1em;
	border-radius: .2em;
}

.filters__crime {
    padding: 2em;
}

#noteForm--text {
    padding: .5em;
    min-height: 10em;
}

#noteFormContainer {
    flex: 4;
    display: flex;
    max-width: 48em;
	flex-direction: column;
    flex-wrap: wrap;
    padding: .8em;
	margin: 1em;
}

#noteForm--criminal{
    max-width: 14em;
    max-height: 8em;
    margin-top: 1em;
}
#saveNote {
    align-self: flex-end;
    padding: .5em 2.2em .5em 2.2em;
    margin: 1em;
}
.titleHTML {
    padding-left: 1.5em;
}